@use "global" as *;

.company {
    background-color: #fff;
}

.company__inner {
    margin: auto;
    padding: rem(91) rem(25) rem(78);
    max-width: rem(1184);
    width: 100%;
    @include mq(md) {
        padding-top: rem(40);
    }
}

.company__wrapper {
    display: flex;
    justify-content: center;
    margin-top: rem(90);

    @include mq(md) {
        flex-direction: column;
        align-items: center;
    }
}

.company__items {
    max-width: rem(459);
    width: 100%;

    @include mq(md) {
        margin-inline: auto;
    }
}

.company__item {
    display: flex;
    padding: rem(21) 0;
    font-size: rem(18);
    font-weight: bold;
    border-bottom: 1px solid #C6C6C6;
    margin-right: rem(32);
    @include mq(md) {
        margin-right: 0;
        font-size: rem(16);
    }
}

.company__item:first-child {
    border-top: 1px solid #C6C6C6;
}

.company__item dt {
    width: 37.9%;
}

.company__item dd {
    width: 62.1%;
}


.company__map {
    max-width: rem(443);
    max-height: rem(334);
    width: 100%;
    aspect-ratio: 443 / 334;
    object-fit: cover;

    @include mq(md) {
        margin-top: rem(30);
        margin-inline: auto;
    }
}

.company__map iframe {
    width: 100%;
    height: 100%;}